body {
    /*font-family: Arial, sans-serif;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; !*"Open Sans";, *!*/
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

/*标题栏*/
.header {
    background-color: #005375;
    color: #fff;
    /*padding: 1rem;*/
    text-align: center;
    /*position: fixed;*/
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    /*margin: 1rem 0 0 0;;*/
}

.headertext {
    font-size: 30px;
    font-weight: lighter;
    /*margin: 1rem 0 r0 0;*/
    padding: 1rem;
}

/*菜单栏*/
.navbar {
    display: flex;
    justify-content: center;
    background-color: #024562;
}
/*适配移动端*/
/*桌面端*/
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    .menu-icon {
        display: none;
    }
}
/*移动端*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        /*display: none; !* 默认隐藏 *!*/
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out; /* 折叠和展开动画 */
    }

    .navbar a {
        /*background-color: #005375;*/
        display: block;
        text-align: center;
        padding: 0.5rem 1rem;
        border-top: 1px solid #015679; /* 添加分割线 */
        /*width: calc(100% - 10rem); !* 调整分割线长度 *!*/
        /*margin: 0 auto; !* 水平居中 *!*/
    }
    /*.navbar a:last-child {*/
    /*    border-bottom: none; !* 移除最后一个选项的分割线 *!*/
    /*}*/

    .navbar.active {
        /*display: flex; !* 当active类存在时显示 *!*/
        max-height: 500px;
    }

    .menu-icon {
        display: block;
        background-color: #024562;
        color: white;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
    }
}


.navbar a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #bc9955;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    background-color: #f6f6f6;
}

/*选项卡*/
.modal {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    max-width: 300px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加动画效果 */
}
.modal:hover {
    transform: translateY(-5px); /* 向上移动 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 增强阴影效果 */
}

.modal a{
    /*color: #005375;*/
    /*padding: 1rem;*/
    text-decoration: none;
    /*text-align: center;*/
}

.modal img {
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100%;
    width: 100%;
    height: 200px;
}

.directiontitle {
    color: #005375;
    margin: 0 1rem 0 1rem;
}

.directioninf {
    color: #555555;
    margin: 0 1rem 2rem 1rem;
}

/*页脚*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: #00415c;
    color: #fff;
}
.footer .column {
    margin: 1rem 0.5rem 1rem 0.5rem;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    text-align: left;

    /*text-align: left;*/
}
.footer p {
    margin: 0.5rem 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    word-wrap: break-word;
}

.footer a:hover {
    text-decoration: underline;
}


/*一张图片*/
/*.main-image {*/
/*    !*padding-top: 9rem;*!*/

/*    width: 100%;*/
/*    !*max-height: 400px;*!*/
/*    height: auto;*/
/*    object-fit: cover;*/
/*    background-color: #f6f6f6;*/
/*}*/


/*多张图片轮播*/
.carousel {
    position: relative;
    width: 100%;
    height: auto;
    /*max-height: 500px;*/
    object-fit: fill; /* cover*/
    background-color: #f6f6f6;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    width: 100%; /* 适应容器宽度 */
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    /*width: 1500px;*/
    /*height: 500px;*/
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

/*轮播圆点*/
.carousel-indicators div {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5); /* 50%透明白色 */
    border-radius: 15%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .active {
    background-color: #ffffff;
}
/*轮播左右切换按钮*/
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(2, 69, 98, 0.5);
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    transition: background-color 0.3s;
}
@media (max-width: 768px) {
    .carousel-buttons button {
        margin: 0.5rem;
    }
}

.carousel-buttons button:hover {
    background-color: #005375
}